<a href="https://colab.research.google.com/github/cntrvsy/colab/blob/main/st20343345_CMP7005_PRAC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUCITON
lets start by loading in our data
1. Ahmedabad_data.csv
2. Aizawl_data.csv
3. Amaravati_data.csv
4. Amritsar_data.csv
5. Bengaluru_data.csv
6. Bhopal_data.csv
7. Brajrajnagar_data.csv
8. Chandigarh_data.csv
9. Chennai_data.csv
10. Coimbatore_data.csv
11. Delhi_data.csv
12. Ernakulam_data.csv
13. Gurugram_data.csv
14. Guwahati_data.csv
15. Hyderabad_data.csv
16. Jaipur_data.csv
17. Jorapokhar_data.csv
18. Kochi_data.csv
19. Kolkata_data.csv
20. Lucknow_data.csv
21. Mumbai_data.csv
22. Patna_data.csv
23. Shillong_data.csv
24. Talcher_data.csv
25. Thiruvananthapuram_data.csv
26. Visakhapatnam_data.csv

In [3]:
import pandas as pd

url_1 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Ahmedabad_data.csv'
df = pd.read_csv(url_1)

print(df.head(1))
display(df.head(1))

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01/01/2015,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.0,0.02,0.0,NaN,NaN