<a href="https://colab.research.google.com/github/cntrvsy/colab/blob/main/st20343345_CMP7005_PRAC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUCITON
**lets start by loading in our data from the Github Repo**
1. Ahmedabad_data.csv
2. Aizawl_data.csv
3. Amaravati_data.csv
4. Amritsar_data.csv
5. Bengaluru_data.csv
6. Bhopal_data.csv
7. Brajrajnagar_data.csv
8. Chandigarh_data.csv
9. Chennai_data.csv
10. Coimbatore_data.csv
11. Delhi_data.csv
12. Ernakulam_data.csv
13. Gurugram_data.csv
14. Guwahati_data.csv
15. Hyderabad_data.csv
16. Jaipur_data.csv
17. Jorapokhar_data.csv
18. Kochi_data.csv
19. Kolkata_data.csv
20. Lucknow_data.csv
21. Mumbai_data.csv
22. Patna_data.csv
23. Shillong_data.csv
24. Talcher_data.csv
25. Thiruvananthapuram_data.csv
26. Visakhapatnam_data.csv

In [7]:
import pandas as pd

url_1 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Ahmedabad_data.csv'
Ahmedabad_df = pd.read_csv(url_1, header=0)
url_2 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Aizawl_data.csv'
Aizawl_df = pd.read_csv(url_2, header=0)
url_3 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Amaravati_data.csv'
Amaravati_df = pd.read_csv(url_3, header=0)
url_4 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Amritsar_data.csv'
Amritsar_df = pd.read_csv(url_4, header=0)
url_5 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Bengaluru_data.csv'
Bengaluru_df = pd.read_csv(url_5, header=0)
url_6 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Bhopal_data.csv'
Bhopal_df = pd.read_csv(url_6, header=0)
url_7 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Brajrajnagar_data.csv'
Brajrajnagar_df = pd.read_csv(url_7, header=0)
url_8 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Chandigarh_data.csv'
Chandigarh_df = pd.read_csv(url_8, header=0)
url_9 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Chennai_data.csv'
Chennai_df = pd.read_csv(url_9, header=0)
url_10 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Coimbatore_data.csv'
Coimbatore_df = pd.read_csv(url_10, header=0)
url_11 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Delhi_data.csv'
Delhi_df = pd.read_csv(url_11, header=0)
url_12 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Ernakulam_data.csv'
Ernakulam_df = pd.read_csv(url_12, header=0)
url_13 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Gurugram_data.csv'
Gurugram_df = pd.read_csv(url_13, header=0)
url_14 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Guwahati_data.csv'
Guwahati_df = pd.read_csv(url_14, header=0)
url_15 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Hyderabad_data.csv'
Hyderabad_df = pd.read_csv(url_15, header=0)
url_16 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Jaipur_data.csv'
Jaipur_df = pd.read_csv(url_16, header=0)
url_17 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Jorapokhar_data.csv'
Jorapokhar_df = pd.read_csv(url_17, header=0)
url_18 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Kochi_data.csv'
Kochi_df = pd.read_csv(url_18, header=0)
url_19 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Kolkata_data.csv'
Kolkata_df = pd.read_csv(url_19, header=0)
url_20 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Lucknow_data.csv'
Lucknow_df = pd.read_csv(url_20, header=0)
url_21 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Mumbai_data.csv'
Mumbai_df = pd.read_csv(url_21, header=0)
url_22 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Patna_data.csv'
Patna_df = pd.read_csv(url_22, header=0)
url_23 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Shillong_data.csv'
Shillong_df = pd.read_csv(url_23, header=0)
url_24 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Talcher_data.csv'
Talcher_df = pd.read_csv(url_24, header=0)
url_25 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Thiruvananthapuram_data.csv'
Thiruvananthapuram_df = pd.read_csv(url_25, header=0)
url_26 = 'https://raw.githubusercontent.com/cntrvsy/colab/main/Visakhapatnam_data.csv'
Visakhapatnam_df = pd.read_csv(url_26, header=0)

#display(Ahmedabad_df.head(1))
#display(Aizawl_df.head(1))
#display(Amaravati_df.head(1))
#display(Amritsar_df.head(1))
#display(Bengaluru_df.head(1))
#display(Bhopal_df.head(1))
#display(Brajrajnagar_df.head(1))
#display(Chandigarh_df.head(1))
#display(Chennai_df.head(1))
#display(Coimbatore_df.head(1))
#display(Delhi_df.head(1))
#display(Ernakulam_df.head(1))
#display(Gurugram_df.head(1))
#display(Guwahati_df.head(1))
#display(Hyderabad_df.head(1))
#display(Jaipur_df.head(1))
#display(Jorapokhar_df.head(1))
#display(Kochi_df.head(1))
#display(Kolkata_df.head(1))
#display(Lucknow_df.head(1))
#display(Mumbai_df.head(1))
#display(Patna_df.head(1))
#display(Shillong_df.head(1))
#display(Talcher_df.head(1))
#display(Thiruvananthapuram_df.head(1))
#display(Visakhapatnam_df.head(1))

#FUNDERMENTAL DATA UNDERSTANDING

In [8]:
# combine it into one df
combined_df =pd.concat([Ahmedabad_df, Aizawl_df, Amaravati_df, Amritsar_df, Bengaluru_df, Bhopal_df, Brajrajnagar_df, Chandigarh_df, Chennai_df, Coimbatore_df, Delhi_df, Ernakulam_df, Gurugram_df, Guwahati_df, Hyderabad_df, Jaipur_df, Jorapokhar_df, Kochi_df, Kolkata_df, Lucknow_df, Mumbai_df, Patna_df, Shillong_df, Talcher_df, Thiruvananthapuram_df, Visakhapatnam_df])
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29531 entries, 0 to 1461
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.8+ MB

In [14]:
combined_df.head(3)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01/01/2015,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02/01/2015,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03/01/2015,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN

In [15]:
combined_df.tail(3)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1459,Visakhapatnam,29/06/2020,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.0,68.0,Satisfactory
1460,Visakhapatnam,30/06/2020,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.0,54.0,Satisfactory
1461,Visakhapatnam,01/07/2020,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [16]:
#How many rows and columns are in your merged dataset?
combined_df.shape
print(f'No of Rows: {combined_df.shape[0]}, No of Columns: {combined_df.shape[1]}')

No of Rows: 29531, No of Columns: 16

In [17]:
combined_df.dtypes

City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object

In [20]:
combined_df.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [9]:
combined_df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24933.000000,18391.000000,25949.000000,25946.000000,25346.000000,19203.000000,27472.000000,25677.000000,25509.000000,23908.000000,21490.000000,11422.000000,24850.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.661449,90.605110,22.785846,24.474746,31.646011,25.684275,6.962884,18.133775,21.694928,15.811136,19.969164,6.323247,140.696585
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.255000,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.745000,19.950000,37.620000,40.127500,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [10]:
#Which Pollutants are included, and which have the most missing data?
combined_df.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [11]:
def missing_values_table(combined_df):
    # Total missing values
    mis_val = combined_df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * mis_val / len(combined_df)

    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    mis_val_table = mis_val_table.rename(columns={0: 'Missing Values', 1: '% of Total Values'})

    # Sort the table by percentage of missing descending
    mis_val_table = mis_val_table.sort_values('% of Total Values', ascending=False)

    return mis_val_table

missing_values = missing_values_table(combined_df)
display(missing_values.style.background_gradient(cmap='Reds'))

In [21]:
#How many unique cities are there?
combined_df['City'].nunique()

26

In [ ]:
#Convert Order Date to a proper datetime format.
#f_1['Order Date'] = pd.to_datetime(df_1['Order Date'], format="mixed", errors="coerce")